@import "variables";

.addproducts_container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.addproducts_container label {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  display: flex;
}

.addproducts_container form {
  background-color: getColours(light-gray);
  padding: 10px;
  border-radius: 20px;
  width: 300px;
}
textarea {
  height: 200px;
}

.addproduct_button {
  padding: $padding;
  font-weight: bold;
  border-radius: $border-radius;
  &:hover {
    background-color: getColours(green-btn);
  }
}
