@import "variables";
@media (max-width: 1000px) {
  footer {
    position: relative !important;
  }
  nav a {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .specificproduct_container img {
    width: 80%;
  }
}

@media (max-width: $breakpoint-mobile) {
  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
