@import "variables";

.container a,
.editproducts_container a {
  text-decoration: none;
  color: black;
}

#textinput {
  width: 70%;
  border-radius: 15px;
  text-align: center;

  &:hover {
    background-color: lightblue;
    padding: $padding;

    transition: all 0.5s ease;
  }
}

form {
  text-align: center;
  margin-top: 50px;
  padding: 15px;
}

.products_container img,
.test_container img,
.editproducts_container img {
  height: 300px;
  width: 100%;
}

body > main > form > div > i {
  position: relative;
  margin-left: -28px;
}

.specificproduct_container img {
  height: 400px;
  width: auto;
}
.specificproduct_container p {
  margin: 0 auto;
  width: 400px;
}
