$colours: (
  header: #0077b6,
  footer: #676767,
  light-gray: #ccbfbf,
  light-blue: #6699cc,
  body: #ffffff,
  background-content: #ececec,
  pure-white: #ffffff,
  green-btn: #059142,
  red-btn: #880808,
  yellow-btn: #ffba01,
);

@function getColours($colour) {
  @return map-get($colours, $colour);
}

$primary-font: "open sans", sans-serif;
$header-font: "montserrat", sans-serif;

$border-radius: 10px;

$padding: 10px;

$breakpoint-mobile: 600px;

@mixin searchinput {
  #textinput {
    transform: scale(1.2);
  }
}
